/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

header {
    width:100%;
    height:60px;
    background-color:#FFF;
    border-bottom:1px solid #DDD;
}
header ul li {
    width:90px;
    height:40px;
    background-color: #eee;
    float: left;
}

#sidebar {
    width:80px;
    height:100vh;
    background-color: #FF8F8F;
    float:left;
}

#sidebar h1 {
    margin-top: 15px;
    margin-bottom:  16vh ;
    text-align: center;
}

#sidebar h1 a{
    text-decoration: none;
    color:#FFF;
}

#sidebar .profile_image_wrap {
}

#sidebar .profile_image {
    width:46px;
    height:46px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin:0 auto;
    margin-top: 15px;

}

#sidebar .profile_image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#sidebar .logaout {
    position: absolute;
    bottom:0;
}


#sidebar .logaout a{
    font-size:35px;
       color:#FFF;
    text-decoration: none;
}
#sidebar .logaout i {
    text-align: center;
    margin-left:25px;
    margin-right:25px;
    padding-bottom: 20px;

}

#calendars_date-navigate {
    width:100%;
    margin-top:15px;
    margin-bottom:25px;
}
#calendars_date-navigate ul {
    width:130px;
    border:none;
    margin-left: 7px;
    margin-bottom: 9px;
    float: left;

}
#calendars_date-navigate ul li {
    font-size:14px;
    border:1px solid #EEE;
    border-radius:3px;
    margin-left:3px;
    margin-right:3px;
    overflow:hidden;
}

#calendars_date-navigate ul li a {
    width:100%;
    padding-left:10px;
    padding-right:10px;
    display: block;
    text-decoration: none;
    font-size:12px;
    line-height: 2em;
}
#calendars_date-navigate ul li a i{
    font-size:16px;
}

#calendars_date-navigate .calendars-year-month-today {
    width : -webkit-calc(100% - 138px) ;
    width : calc(100% - 138px);
    text-align: center;
    letter-spacing: 2px;
    float: left;
    line-height: 2em;
}


#calendars_date-navigate .calendars-year-month-today span {
    position: relative;
    left:-60px;

}
.today_page_user_status_block {
    width:93%;
    margin:0 auto;
    border-radius:8px;
    margin-top: 10px;
}


.today_page_user_status_block_0 {
    width:93%;
    margin:0 auto;
    border-radius:8px;
}

.today_page_user_status_block_2 {
    width:93%;
    margin:0 auto;
    border-radius:8px;
    margin-top: 10px;
}


.today_page_user_status_block_3 {
    width:93%;
    margin:0 auto;
    background-color:#EEE;
    border-radius:8px;
    margin-top: 10px;
}

.today_page_user_status_block h3 {
    padding-left: 10px;
    padding-top: 10px;
    color:#FFF;
    font-size:14px;
}


.today_page_user_status_block_0 h3 {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#FFF;
    font-size:14px;
    float: left;
}

.today_page_user_status_block_2 h3 {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#FFF;
    font-size:14px;
    float: left;
}

.today_page_user_status_block_3 h3 {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#FFF;
    font-size:14px;
    float: left;
}


.today_page_user_status_block {
    background-color:#FDA571;

}

.today_page_user_status_block_0 {
    background-color: #38DEE0;
}

.today_page_user_status_block_2 {
    background-color:#FD6698;

}

.today_page_user_status_block_3 {
    background-color: #4BCFFD;
}

.today_page_user_status_block ul {

    padding-bottom: 10px;
}


.today_page_user_status_block ul li {
    margin-top: 10px;
    margin-left: 10px;
    color:#FFF;
    line-height: 1.5em;
}


.today_page_user_status_block ul li.schedule_hairan:before {
    content: "\f186";
    font-family: FontAwesome;
    float:left;
    background-color: #FFF;
    width:25px;
    height:25px;
    text-align: center;
    line-height:1.5em;
    border-radius: 50%;
    color: #FDAB6E;
    margin-right: 10px;
}
.today_page_user_status_block ul li.schedule_seiri:before {
    content: "\f043";
    font-family: FontAwesome;
    float:left;
    background-color: #FFF;
    width:25px;
    height:25px;
    text-align: center;
    line-height:1.7em;
    border-radius: 50%;
    color: #FD6A94;
    margin-right: 10px;
}


.today_page_user_status_block_0 .unsei h2 {
    line-height: 1em;
    letter-spacing: 2px;
    color:#FD80B0;
    float: right;
    background-color: #FFF;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 3px;
    margin-right:10px;
    margin-top:10px;
}

.today_page_user_status_block_2 .osirase_ninsin h2 {
    line-height: 1em;
    letter-spacing: 2px;
    color:#FD80B0;
    float: right;
    background-color: #FFF;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 3px;
    margin-right:10px;
    margin-top:10px;
}
.what_is_day_hairan {
    text-align: center;
    letter-spacing: 2px;
    margin-top: -3px;
    font-size:14px;

}
.what_is_day_seiri {
    text-align: center;
    letter-spacing: 2px;
    margin-top: -3px;
    font-size:14px;
}

.today_page {
    width:385px;
    height:100vh;
    background-color: #FFF1EA;
    float:left;
}

.today_page_user_status {

    width:385px;
    background-color: #FEFAF1;
    padding-top:15px;
    padding-bottom:15px;
}
.form_title {
    margin-top:18px;
    margin-left:18px;
}
.form_today {
    margin-left:18px;
    margin-bottom:15px;
    letter-spacing: 2px;
}
.calendars {
    background-color: #FDFDFE;
    height:100vh;

}
.calendars ul {
    width : -webkit-calc(100% - 467px) ;
    width : calc(100% - 467px);
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #FFF;
    border-radius:3px;
    position: relative;
}

.calendars ul li.card {
    position: relative;
    height: -webkit-calc(100vh - 125px) / 5) ;
    height: calc((100vh - 125px) / 5) ;
    background-color: #FFF;
    float:left;
    list-style: none;
    margin-right: 1px;
    margin-bottom: 1px;
    z-index:2;
    overflow: hidden;
    border-bottom: 1px solid #EEEEFF;
    width : -webkit-calc((100% / 7) - 15px) ;
    width : calc((100% / 7) - 15px) ;
    flex-grow: 1;
    font-size: 14px;

}

.calendars ul li.card_hairan_sub {
    background-color: #FEFAF2;
}

.calendars ul li.card_hairan_main {
    background-color: #FCA476;
}

.calendars ul li.card_seiri_sub {
    background-color: #FDD0D0;
}

.calendars ul li.card_seiri_main {
    background-color: #FD9A9B;
}

.calendars ul li.card_seiri{
    background-color: #FDD0D0;
}

.calendars ul li.card + li.card {
    border-left: 1px solid #EEEEFF;

}

.calendars ul li.card a {
    width:100%;
    height:100%;
    display: block;
    text-decoration: none;
    font-size: 14px;
}
.calendars ul li.card a:hover {
    background-color: inherit;
}
.calendars ul li.empty {
    background-color: #efefef;

}
.calendars ul li.week {
    position: relative;
    height:35px;
    background-color: #FFF;
    float:left;
    list-style: none;
    margin-right: 1px;
    margin-bottom: 1px;
    z-index:2;
    overflow: hidden;
    border-bottom: 1px solid #EEEEFF;
    width : -webkit-calc((100% / 7) - 15px) ;
    width : calc((100% / 7) - 15px) ;
    flex-grow: 1;
    text-align: center;
    line-height:2.2em;
}
.calendars ul li.week + li.week {
    border-left: 1px solid #EEEEFF;
}

.what_is_today{
    text-align: center;
    margin-top: 13px;
    margin-bottom: 13px;
}

.what_is_today span{
    background-color: #D4F4F6;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 15px;
}

.what_is_day{
    text-align: center;
    margin-top: 13px;
    margin-bottom: 13px;
}


.card_icon_null {
    width:90%;
    height:25px;
    margin:0 auto;
    border-radius: 20px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    color:#FFF;
    overflow: hidden;
    margin-bottom: 2px;
}


.card_icon_sex {
    background-color: #FC7BA2;
    width:90%;
    height:25px;
    margin:0 auto;
    border-radius: 20px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    color:#FFF;
    overflow: hidden;
    margin-bottom: 2px;
}

.card_icon_sex i {
    background-color: #FFF;
    width:25px;
    height:25px;
    text-align: center;
    line-height:1.9em;
    border-radius: 50%;
    color: #FC7BA2;
    margin-right: 10px;
    margin-bottom: 5px;
}


.card_icon_feel_happy {
    background-color: #E74F86;
    width:90%;
    height:25px;
    margin:0 auto;
    border-radius: 20px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    color:#FFF;
    overflow: hidden;
    margin-bottom: 2px;

}
.card_icon_feel_happy i {
    background-color: #FFF;
    width:25px;
    height:25px;
    text-align: center;
    line-height:1.9em;
    border-radius: 50%;
    color: #E74F86;
    margin-right: 10px;
    margin-bottom: 5px;
}


.card_icon_feel_soso {
    background-color: #54C5EF;
    width:90%;
    height:25px;
    margin:0 auto;
    border-radius: 20px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    color:#FFF;
    overflow: hidden;
    margin-bottom: 2px;
}
.card_icon_feel_soso i {
    background-color: #FFF;
    width:25px;
    height:25px;
    text-align: center;
    line-height:1.9em;
    border-radius: 50%;
    color: #54C5EF;
    margin-right: 10px;
    margin-bottom: 5px;
}


.card_icon_feel_bad {
    background-color: #8565BC;
    width:90%;
    height:25px;
    margin:0 auto;
    border-radius: 20px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    color:#FFF;
    overflow: hidden;
    margin-bottom: 2px;
}
.card_icon_feel_bad i {
    background-color: #FFF;
    width:25px;
    height:25px;
    text-align: center;
    line-height:1.9em;
    border-radius: 50%;
    color: #8565BC;
    margin-right: 10px;
    margin-bottom: 5px;
}

.card_icon_seiri {
    background-color: #F06776;
    width:90%;
    height:25px;
    margin:0 auto;
    border-radius: 20px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    color:#FFF;
    overflow: hidden;
    margin-bottom: 2px;
}
.card_icon_seiri i {
    background-color: #FFF;
    width:25px;
    height:25px;
    text-align: center;
    line-height:1.9em;
    border-radius: 50%;
    color: #F06776;
    margin-right: 10px;
    margin-bottom: 5px;
}

#today_status_check  {
    width:385px;
    height:80px;
    margin-top:20px;
}

#today_status_check li:nth-child(1) {
    width:225.5px;
    height:60px;
    float: left;
    margin-left:11.5px;
    padding:0;
}


#today_status_check li:nth-child(2) {
    width:125.5px;
    height:60px;
    float: left;
    margin-left:11.5px;
    padding:0;
}

#today_status_check li:nth-child(1) input[type=checkbox] {
    width:225.5px;
    height:60px;
    opacity: 0;
}

#today_status_check li:nth-child(2) input[type=checkbox] {
    width:125.5px;
    height:60px;
    opacity: 0;
}

#today_status_check li input[type=checkbox]:checked + label.seiri_check_label {
    position: relative;
    top:-60px;
    width:225.5px;
    height:60px;
    background-color: #F26574;
    border-radius: 10px;
    overflow: hidden;
    color:#FFF;

}
.seiri_check_label {
    position: relative;
    top:-60px;
    width:225.5px;
    height:60px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    color:#242A42;
    text-align: center;
}

#today_status_check li input[type=checkbox]:checked + label.seiri_check_label i {
    color:#FFF;

}
.seiri_check_label i {
    font-size:30px;
    line-height: 1.6em;
    position: relative;
    top:7px;
    left:-10px;
    color:#F06776;
}


#today_status_check li input[type=checkbox]:checked + label.sex_check_label {
    position: relative;
    top:-60px;
    width:125.5px;
    height:60px;
    background-color: #FC7BA2;
    border-radius: 10px;
    overflow: hidden;
    color:#FFF;

}
.sex_check_label {
    position: relative;
    top:-60px;
    width:125.5px;
    height:60px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    color:#242A42;
    text-align: center;

}
#today_status_check li input[type=checkbox]:checked + label.sex_check_label i {
    color:#FFF;
}

.sex_check_label i {
    font-size:30px;
    line-height: 1.6em;
    position: relative;
    top:7px;
    left:-10px;
    color:#FA7DA2;

}

#sex-result {
    width:324px;
    height:60px;
    margin:0 auto;
}
.sex-field li {
    width: 90px;
    height:40px;
    float: left;
    margin-left:13.5px;
    margin-bottom:13.5px;
    padding:0;
    font-size:14px;
    text-align: center;
    line-height: 2.6em;
}
.sex-field li input[type=checkbox] {
    width: 90px;
    height:40px;
    opacity: 0;
}

.sex-field li label{
    position: relative;
    top:-40px;
}

.sex_type_ari {
    width:90px;
    height:40px;
    background-color: #FFF;
    border-radius: 10px;
    line-height:2.8em;
}

.sex_type_nasi_soto {
    width:90px;
    height:40px;
    background-color: #FFF;
    border-radius: 10px;
    line-height:2.8em;
}

.sex_type_nasi_naka {
    width:90px;
    height:40px;
    background-color: #FFF;
    border-radius: 10px;
    line-height:2.8em;
}

.sex-field li input[type=checkbox]:checked + label.sex_type_ari{
    background-color: #FC7BA2;
    color:#FFF;
}
.sex-field li input[type=checkbox]:checked + label.sex_type_nasi_soto{
    background-color: #FC7BA2;
    color:#FFF;
}
.sex-field li input[type=checkbox]:checked + label.sex_type_nasi_naka{
    background-color: #FC7BA2;
    color:#FFF;
}

.feel-field {
    margin-top: 15px;
}

.feel-field li {
    width:110px;
    height:80px;
    float: left;
    margin-left:13.5px;
    margin-bottom:13.5px;
    padding:0;
}
.feel-field li input[type=checkbox] {
    width:110px;
    height:80px;
    opacity: 0;
}

.feel-field li label{
    position: relative;
    top:-80px;
    text-align: center;

}

.feel-field li input[type=checkbox]:checked + label.feel_type_like{
    background-color: #FA7DA2;
    color:#242A42;
}
.feel-field li input[type=checkbox]:checked + label.feel_type_soso{
    background-color: #94DEF9;
    color:#242A42;

}
.feel-field li input[type=checkbox]:checked + label.feel_type_bad{
    background-color: #CAABE0;
    color:#242A42;

}
.feel-field li input[type=checkbox]:checked + label i{
    color:#FFF;
}

.feel_type_like {
    width:110px;
    height:80px;
    background-color: #FFF;
    border-radius: 25px;
    border:2px solid #E94C86;
    color:#B2B5C0;
    letter-spacing: 1px;
}
.feel_type_like i{
    color:#E94C86;
    width:110px;
    text-align: center;
    font-size:48px;
    line-height:1.2em;
}

.feel_type_soso {
    width:110px;
    height:80px;
    background-color: #FFF;
    border-radius: 25px;
    border:2px solid #4DC5F1;
    color:#B2B5C0;
    letter-spacing: 1px;
}

.feel_type_soso i{
    color:#4DC5F1;
    width:110px;
    text-align: center;
    font-size:48px;
    line-height:1.2em;
}

.feel_type_bad {
    width:110px;
    height:80px;
    background-color: #FFF;
    border-radius: 25px;
    border:2px solid #8662BF;
    color:#B2B5C0;
    letter-spacing: 1px;
}

.feel_type_bad i{
    color:#8662BF;
    width:110px;
    text-align: center;
    font-size:48px;
    line-height:1.2em;
}
