/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#sidebar {
    width:150px;
    height:100vh;
    background-color: #BBBBBB;
    border-right:1px solid #730E15;
    float:left;
}

.today_page {
    width:400px;
    height:100vh;
    background-color: #EEE;

    float:left;
}
.calendars ul {
    width : -webkit-calc(100% - 555px) ;
    width : calc(100% - 555px) ;
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-top: 15px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #FFF;
}
.calendars ul li {
    position: relative;
    height:155px;
    background-color: #FFF;
    border-radius:3px;
    float:left;
    list-style: none;
    margin-right: 1px;
    margin-bottom: 1px;
    z-index:2;
    overflow: hidden;
    border-bottom: 1px solid #EEEEFF;
    width : -webkit-calc((100% / 7) - 15px) ;
    width : calc((100% / 7) - 15px) ;
    flex-grow: 1;
}
