/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

#sidebar {
    width:140px;
    height:100vh;
    background-color: #FED0D0;
    float:left;
}

.today_page {
    width:385px;
    height:100vh;
    background-color: #FF9A9A;
    float:left;
}
.calendars {
    background-color: #FDFDFE;
    height:100vh;

}
.calendars ul {
    width : -webkit-calc(100% - 527px) ;
    width : calc(100% - 527px);
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #FFF;
    border: 1px solid #EEEEFF;
    border-radius:3px;
    position: relative;
}

.calendars ul li.card {
    position: relative;
    height:125px;
    background-color: #FFF;
    float:left;
    list-style: none;
    margin-right: 1px;
    margin-bottom: 1px;
    z-index:2;
    overflow: hidden;
    border-bottom: 1px solid #EEEEFF;
    width : -webkit-calc((100% / 7) - 15px) ;
    width : calc((100% / 7) - 15px) ;
    flex-grow: 1;
}
.calendars ul li.card + li.card {
    border-left: 1px solid #EEEEFF;

}

.calendars ul li.card a {
    width:100%;
    height:100%;
    display: block;
}
.calendars ul li.card a:hover {
    background-color: #FDF3F3;
}
.calendars ul li.empty {
    background-color: #efefef;

}
.calendars ul li.week {
    position: relative;
    height:35px;
    background-color: #FFF;
    float:left;
    list-style: none;
    margin-right: 1px;
    margin-bottom: 1px;
    z-index:2;
    overflow: hidden;
    border-bottom: 1px solid #EEEEFF;
    width : -webkit-calc((100% / 7) - 15px) ;
    width : calc((100% / 7) - 15px) ;
    flex-grow: 1;
    text-align: center;
    line-height:2.2em;
}
.calendars ul li.week + li.week {
    border-left: 1px solid #EEEEFF;
}

#today_status_check  {
    width:385px;
    height:200px;
}

#today_status_check li {
    width:175px;
    height:60px;
    float: left;
    margin-left:11.5px;
    padding:0;
}
#today_status_check li input[type=checkbox] {
    width:175px;
    height:60px;
    opacity: 0.5;
}

.seiri_check_label {
    position: relative;
    top:-60px;
    width:175.5px;
    height:60px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
}

.sex_check_label {
    position: relative;
    top:-60px;
    width:175.5px;
    height:60px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
}

.feel-field {

}


.feel-field li {
    width:80px;
    height:80px;
    float: left;
    margin-left:13.5px;
    margin-bottom:13.5px;
    padding:0;
}
.feel-field li input[type=checkbox] {
    width:80px;
    height:80px;
    opacity: 0.5;
}

.feel-field li label {
    position: relative;
    top:-80px;
}

.feel_type_fine {
    width:80px;
    height:80px;
    background-color: #FFF;
    border-radius: 30px;
}

.feel_type_like {
    width:80px;
    height:80px;
    background-color: #FFF;
    border-radius: 30px;
}

.feel_type_soso {
    width:80px;
    height:80px;
    background-color: #FFF;
    border-radius: 30px;
}

.feel_type_bad {
    width:80px;
    height:80px;
    background-color: #FFF;
    border-radius: 30px;
}
